<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      <ion-list>
          <ion-item>
              <ion-thumbnail slot="start">
                  <img src="http://placehold.it/100x60?text=F1">
                  </ion-thumbnail>
                  Apple
          </ion-item>
      </ion-list>  
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
</ion-content>
